<%- include('partials/header.ejs') %>


<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="display-1 text-center">Welcome to my personal blog</h1>
        </div>
    </div>


<%- include('partials/footer.ejs') %>